* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    color: black;
    background-color: rgb(242, 242, 247);
    font-family: Arial, Helvetica, sans-serif;
}

h3 {
    font-size: 1.7rem;
    border-bottom: 2px solid orange;
    width: 180px;
    margin-left: 20px;
    color: #343B7B;
    ;
}

header {
    background-color: #343B7B;
    padding: 30px 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    box-shadow: 10px 10px 10px orange;
}

.icone-header {

    background-color: orange;
    border-radius: 100px;
    color: blue;
    font-weight: 700;
    height: auto;
    padding: 15px;
    font-size: 1rem;
    margin-left: -500px;
    display: inline-flex;
    justify-content: space-between;
    position: relative;
    animation: mov 5s infinite;
    animation-delay: 2s;

}

@keyframes mov {
    0% {
        left: 0px;
    }

    25% {
        left: 200px;
    }

    50% {
        left: 200px;
    }

    75% {
        left: 0px;
    }

    100% {
        left: 0px;
    }
}


header a {
    font-size: 1.2rem;
    color: white;
    text-decoration: none;
    display: inline-flex;
    justify-content: space-between;
}

nav ul {
    display: inline-flex;
    justify-content: space-between;
    margin-left: 700px;

}

nav ul a {
    display: inline-flex;
    justify-content: space-between;
    height: auto;
    font-size: 1.3rem;
    text-align: center;
    margin-left: 15px;
    padding: 20px 20px 20px 20px;
    transition-duration: 0.4s;
}

nav ul a:hover {
    content: '';
    background: linear-gradient(to left, orange, transparent);
    transition: 0.5s;
}


#Sobre-Mim {
    display: inline-flex;
    font-size: 1.7rem;

}

.container-text {
    display: block;
    font-size: 1.5rem;
    margin-left: 20px;
    padding: 70px;
    margin-top: 30px;
    margin-right: 100px;

    width: 50%;


}

.container-img {
    display: flex;
    margin: 40px auto;

    width: 50%;

}


strong {
    font-size: 1.6rem;
    color: orange;
}


footer {
    color: #343B7B;
    background-color: orange;
    font-size: 1.2rem;
    padding: 20px;
    box-shadow: 0px 10px 10px 20px #343B7B;
}


.redes {
    width: 200px;
    display: flex;
    padding: 10px;
    align-items: center;
    margin-left: 50%;
}

.fa-brands {
    font-size: 25px;
    margin-left: 10px;
    color: #343B7B;

}

.fa-solid {
    font-size: 25px;
    margin-left: 5px;
    color: #343B7B;
}

.rodape-2 {
    align-items: center;
    margin-top: 20px;
    margin-left: 45%;
}

#Habilidades {
    margin-bottom: 10px;

}

.container-box {
    padding-bottom: 10px;
    margin-top: 2px;
    margin-bottom: 20px;
    margin-left: 23%;
    margin-right: 23%;
    border-radius: 10px;
    display: flex;
    align-items: center;

}

.container-box-2 {
    padding-bottom: 10px;
    margin-top: 2px;
    margin-bottom: 20px;
    margin-left: 37%;
    margin-right: 21%;
    display: flex;
    align-items: center;



}

.box {
    border-radius: 10px;
    margin-left: 10;
    margin-right: 15px;
    display: block;
    width: 180px;


}

.box:hover {
    filter: opacity(.60);
    animation-name: box;
    animation-duration: 4s;
}

.nHabilidades {
    color: black;
    text-align: center;

}


.container-box-projetos {
    margin-top: 5px;
    margin-bottom: 40px;
    margin-left: 240px;
    margin-right: 5%;
    border-radius: 10px;
    display: flex;
    align-content: center;
    transition: all .4s;
    justify-content: space-between;
    align-content: center;


}

.box-projetos {

    overflow: hidden;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;

}


@keyframes box {
    from {
        transform: rotatey(0deg);
    }

    to {
        transform: rotatey(360deg);
    }
}

#Projetos {

    display: flex;
    margin-bottom: 40px;
}

.box img {
    width: 100px;
    border-radius: 10px;
    height: 120px;
    background: transparent;
    margin: 10px;
}

.box-projetos img {

    border-radius: 10px;
    overflow: hidden;
    max-width: 100%;
    -moz-transition: all 0.4s;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    height: 250px;
    width: auto;
    display: flex;
    justify-content: space-between;


}

.box-projetos:hover {

    border-radius: 10px;
    -moz-transform: scale(0.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.);
    transition: all .4s;
}



#Contato {
    margin-top: 50px;
    font-size: 1.5rem;
    display: block;
    background: darkgrey;




}


.fa-angles-up {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    background-color: rgb(179, 33, 33);
    text-decoration: none;
}

.fa-angles-up::after {
    font-size: 32px;
    font-weight: bold;
    color: rgb(21, 100, 168);
    transition: margin-top 250ms;
    height: 100px;
}

.fa-angles-up:hover::after {

    margin-top: -8px;
}




#form {
    width: 250px;
    height: auto;
    padding: 20px;
}

input {
    width: 400px;
    padding: 10px;
    margin-bottom: 5px;
    border: none;
}

textarea {
    width: 400px;
    height: auto;
    border: none;
}

button {
    margin-top: 5px;
    width: 200px;
    border-radius: 5px;
    padding: 8px;
    background-color: orange;

}


/* Menu mobile*/

#menu-mobile {
    background-color: rgba(0, 0, 0, 0.537);
    backdrop-filter: blur(10px);
    position: absolute;
    top: 110px;
    left: 0;
    width: 100%;
    height: 0;
    display: block;
    visibility: hidden;
    transition: .5s;
    overflow: hidden;
}


#menu-mobile nav a {
    color: white;
    display: block;
    padding: 20px 30px;
    font-size: 16px;

}

#btn-menuMobile {
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: .2s;
    border: 2px solid white;
    margin-left: auto;
    display: none;

}

.linha {
    width: 35px;
    height: 3px;
    position: relative;
    background: white;
    display: block;
    margin: 5px -2px;
    transform-origin: center;
    transition: .2s;


}

#btn-menuMobile.ativo .linha:nth-child(1) {
    transform: translateY(5px) rotate(-45deg);
    background-color: black;
}

#btn-menuMobile.ativo .linha:nth-child(2) {
    background: transparent;
}

#btn-menuMobile.ativo .linha:nth-child(3) {
    transform: translateY(-10px) rotate(45deg);
    background-color: black;
}

@media screen and (max-width: 1030px) {

    .nav-menu {
        display: none;

    }

    #btn-menuMobile {

        display: block;
        margin-right: 20px;

    }

    #menu-mobile.abrir {
        visibility: visible;
        height: calc(100vh - 110px);
    }

}